.App {
  padding-top: 116px; }

.AppHeader {
  top: 4px;
  position: absolute !important; }

.AppContent {
  height: calc(100vh - 116px);
  overflow-y: scroll; }

.search-box {
  position: absolute !important;
  top: 66px;
  left: 0; }
  .search-box.sticky {
    top: 0;
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.9); }
